<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permiso para usar la cámara -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Permiso para escribir en el almacenamiento externo (opcional, si necesitas guardar imágenes) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Permiso para leer del almacenamiento externo (opcional, si necesitas acceder a imágenes guardadas) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" /> <!-- Indicar que la aplicación usa la cámara -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".WrongID"
            android:exported="false"
            android:label="@string/title_activity_wrong_id"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".MoreActivity"
            android:exported="false"
            android:label="@string/title_activity_more"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".AccessCamera"
            android:exported="false"
            android:label="@string/title_activity_access_camera"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".InstructionsActivity"
            android:exported="false" />
        <activity
            android:name=".ObrasActivity"
            android:exported="false" />
        <activity
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>